#center-col {
	float: left;
	width: 605px;
	margin: 0 auto;
	padding: 0px 10px;
	/*background-color: red;*/
}

#create-post {
	width: 100%;
	height: auto;
	/*background-color: red;*/
	border-bottom: 1px solid #ececec;
}

#create-post > #form {
	height: auto;
	width: 339px;
	display: inline-block;
	/*background-color: purple;*/
}

#create-post > #form > img {
	margin: 17px 10px;
	height: 55px;
	width: 55px;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
	float: left;
}

#create-post > #form > textarea {
	border-color: #dadada;
	border-radius: 4px;
	height: 36px;
	min-height: 36px;
	margin: 20px 0;
	width: 225px !important;
	padding: 6px 12px;
	color: #6d6e71;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

#create-post > #form > textarea:focus {
	outline: none;
}

#create-post > ul {
	position: absolute;
	padding: 0;
	display: inline-block;
	margin: 35px 0;
}

#create-post > ul > li {
	display: inline-block;
	margin: 0 5px;
	list-style-type: none;
	color: #6d6e71;
	transition: .2s;
	font-size: 19px;
}

#create-post > ul > li:hover {
	color: #27aae1;
	cursor: pointer;
}

#create-post > button {
	/*position: absolute;*/
	display: inline-block;
	float: right;
	border: none;
	height: 32px;
	width: 100px;
	background-color: #27aae1;
	color: white;
	border-radius: 16px;
	margin: 30px 21px 0 0;
}

.post {
	margin-top: 20px;
	width: 605px;
	height: auto;
	background-color: #f8f8f8;
	border: 1px solid #f1f2f2;
}

.post > .content > img {
	width: 100%;
	border-radius: 4px 4px 0 0;
}

.post > img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
	margin: 17px;
	float: left;
}

.post > .post-info {
	height: 88px;
	width: 500px;
	/*background-color: red;*/
	display: inline-block;
	border-bottom: 1px solid #ececec;
	font-family: 'Open Sans';
}

.post > .post-info > .post-owner-name {
	color: #27aae1;
	display: inline-block;
	font-size: 15px;
	margin-bottom: 0;
}

.post > .post-info > .post-action {
	width: 300px;
	color: gray;
	font-size: 13px;
	margin-bottom: 0;
	margin-right: 0;
}

.post > .post-info > .likes {
	position: relative;
	right: 0px;
	/*top: 100px;*/
	float: right;
	bottom: 40%;
}

.post > .post-info > .likes > ion-icon[name="md-thumbs-up"] {
	color: #8dc63f;
}

.post > .post-info > .likes > ion-icon[name="md-thumbs-up"] + label{
	font-size: 15px;
	margin: 0 15px 0 3px;
	color: #8dc63f;
}

.post > .post-info > .likes > ion-icon[name="md-thumbs-down"] {
	color: #ef4136;
}

.post > .post-info > .likes > ion-icon[name="md-thumbs-down"] + label {
	font-size: 15px;
	margin: 0 15px 0 3px;
	color: #ef4136;
}

.post > .description {
	margin-left: 84px;
    margin-right: 20px;
    font-size: 13px;
    color: gray;
    line-height: 23px;
    font-family: Open Sans;
	border-bottom: 1px solid #ececec;
}
