<!DOCTYPE html>
<html>
<head>
	<title>Social</title>
	<link rel="stylesheet" type="text/css" href="style/header.css">
	<link rel="stylesheet" type="text/css" href="style/left-col.css">
	<link rel="stylesheet" type="text/css" href="style/right-col.css">
	<link rel="stylesheet" type="text/css" href="style/center-col.css">

	<link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans:400,700" rel="stylesheet"> <!-- icons -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> <!-- fonts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> <!-- jQuery -->
	<script src="https://unpkg.com/ionicons@4.0.0/dist/ionicons.js"></script> <!-- icons -->
	<script type="text/javascript" src="script/header.js"></script>
</head>
<body>
	<div id="header">
		<div id="header-container">
			<img id="logo" src="/images/logo/main-logo.png">
			<ul class="header-list">
				<li class="dropdown" id="logout">Log Out</li>
				<li class="dropdown">Settings</li>
				<li class="dropdown" id="home">Home</li>
			</ul>
		</div>
	</div>
