<%- include('header'); -%>
	<div id="body-container">
		<%- include('left-container'); -%>
		

		<div id="center-col">
			<div id="create-post">
				<div id="form">
					<img src="images/photo/2.jpg">
					<textarea placeholder="Write a post"></textarea>
				</div>
				<ul id="tools">
					<li><ion-icon name="people"></ion-icon></li>
					<li><ion-icon name="images"></ion-icon></li>
					<li><ion-icon name="videocam"></ion-icon></li>
					<li><ion-icon name="locate"></ion-icon></li>
				</ul>
				<button>Publish</button>
			</div>

			<div class="post">
				<div class="content">
					<img src="https://iso.500px.com/wp-content/uploads/2016/03/stock-photo-108276781-1.jpg">
				</div>
				<div class="user">
					<img src="/images/photo/5.png">
				</div>
			</div>
		</div>

		<%- include('right-container'); -%>
		
	</div>

	<script type="text/javascript" src="script/header.js"></script>

	<script type="text/javascript">
	</script>
</body>
</html>