<%- include('header'); -%>
	<div id="body-container">
		<%- include('left-container'); -%>
		

		<div id="center-col">
			<div id="create-post">
				<div id="form">
					<img src="images/photo/<%= user.cover_photo %>.jpg">
					<textarea placeholder="Write a post"></textarea>
				</div>
				<ul id="tools">
					<li><ion-icon name="people"></ion-icon></li>
					<li><ion-icon name="images"></ion-icon></li>
					<li><ion-icon name="videocam"></ion-icon></li>
					<li><ion-icon name="locate"></ion-icon></li>
				</ul>
				<button>Publish</button>
			</div>

			<div class="content-container">
				<div class="post">
					<div class="content">
						<img src="https://iso.500px.com/wp-content/uploads/2016/03/stock-photo-108276781-1.jpg">
					</div>
					<img src="/images/photo/5.png">
					<div class="post-info">
						<p class="post-owner-name">Shannon Whirry</p>
						<p class="post-action">Published a photo about 3 min ago</p>
						<div class="likes">
							<ion-icon name="md-thumbs-up"></ion-icon><label>24</label>
							<ion-icon name="md-thumbs-down"></ion-icon><label>3</label>
						</div>
					</div>
					<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
		</div>

		<%- include('right-container'); -%>
		
	</div>

	<script type="text/javascript" src="script/header.js"></script>

	<script type="text/javascript">
	</script>
</body>
</html>
