<div id="left-col">
			<div id="user-cover">
				<div id="photo-container">
					<img src="images/photo/1.jpg">
				</div>
				<p id="name"><a href="">Sophia Jacob</a></p>
				<!-- <p id="followers"><a href="">1451 followers</a></p> -->
			</div>

			<div id="navigation-container">
				<ul>
					<li>
						<ion-icon name="ios-paper" class="icon" style="color: #8DC740"></ion-icon>
						<a href="">My Newsfeed</a>
					<li>
						<ion-icon name="ios-people" class="icon" style="color: #7a198a" ></ion-icon>
						<a href="">Friends</a>
					</li>
					<li>
						<ion-icon name="ios-chatbubbles" class="icon" style="color: #ffb135" ></ion-icon>
						<a href="">Messages</a>
					</li>
					<li>
						<ion-icon name="images" class="icon" style="color: #0091ff" ></ion-icon>
						<a href="">Images</a>
					</li>
					<li>
						<ion-icon name="ios-videocam" class="icon" style="color: #ff4b4b" ></ion-icon>
						<a href="">Videos</a>
					</li>
				</ul>
			</div>

			<div id="online-container" class="online-container block">
				<button id="chat-online">Chat online</button>
				<ul>
					<li style="background-image: url('/images/photo/1.jpg')"><div class="online-dot"></div></li>
					<li style="background-image: url('/images/photo/2.jpg')"><div class="online-dot"></div></li>
					<li style="background-image: url('/images/photo/3.jpg')"><div class="online-dot"></div></li>
					<li style="background-image: url('/images/photo/4.jpg')"><div class="online-dot"></div></li>
					<li style="background-image: url('/images/photo/5.png')"><div class="online-dot"></div></li>
					<li style="background-image: url('/images/photo/6.jpg')"><div class="online-dot"></div></li>
					<li style="background-image: url('/images/photo/7.jpg')"><div class="online-dot"></div></li>
					<li style="background-image: url('/images/photo/8.jpg')"><div class="online-dot"></div></li>
					<li style="background-image: url('/images/photo/9.jpg')"><div class="online-dot"></div></li>
				</ul>
			</div>
		</div>