<div id="right-col">
	<p>Who to folow</p>
	<div class="person">
		<div class="img-container">
			<img src="images/photo/2.jpg">
		</div>
		<div class="text">
			<a class="name" href="">Aida Roisin</a>
			<a class="add" href="">Add friend</a>
		</div>
	</div>
	<div class="person">
		<div class="img-container">
			<img src="images/photo/3.jpg">
		</div>
		<div class="text">
			<a class="name" href="">Archibald Caio</a>
			<a class="add" href="">Add friend</a>
		</div>
	</div>
	<div class="person">
		<div class="img-container">
			<img src="images/photo/4.jpg">
		</div>
		<div class="text">
			<a class="name" href="">Alba Tilly</a>
			<a class="add" href="">Add friend</a>
		</div>
	</div>
	<div class="person">
		<div class="img-container">
			<img src="images/photo/5.png">
		</div>
		<div class="text">
			<a class="name" href="">Olivia Steward</a>
			<a class="add" href="">Add friend</a>
		</div>
	</div>
	<div class="person">
		<div class="img-container">
			<img src="images/photo/6.jpg">
		</div>
		<div class="text">
			<a class="name" href="">Dollie Primergse</a>
			<a class="add" href="">Add friend</a>
		</div>
	</div>
</div>