<div>
	<h3><ion-icon name="md-checkmark-circle-outline"></ion-icon>
	Edit basic information</h3>
	<form id="basic-information">
		<div class="half-size-form-group">
			<label>Old Password</label>
			<input type="Password" name="first_name" value="<%= user.first_name %>">
		</div>
		<div class="half-size-form-group">
			<label>New Password</label>
			<input type="Password" name="last_name" value="<%= user.last_name %>">
		</div>
		<div class="full-size-form-group">
			<label>Retype new Password</label>
			<input type="Password" name="email" value="<%= user.email %>">
		</div>

		<button id="save-changes" onclick="return saveChanges()">Save Changes</button>
	</form>
</div>